@mixin flex-box($dir:row, $align:flex-start, $justif:flex-start) {
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    justify-content: $justif;
}


.header {
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #3289c8, $alpha: 0.8);
    @include flex-box(row,center, space-between);
    box-shadow: 1px 1px 5px gray;
    padding-inline: 20px;
    z-index: 10;
}